body{
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(41, 166, 238);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
